{% extends "base.html" %}

{% block title %}shk - changelog{% endblock %}

{% block content %}

<h1>Changelog</h1>

<h2>Proposed Changes</h2>
<ul>
  <li>The Exchange Contract creation process will be streamlined so that the form data is not cleared when the number of types offered or received is changed.</li>
  <li>The ability to make Exchange Contracts repeat a set number of times will be added.</li>
</ul>

<h2>v1.10<small> 5/18/12</small></h2>
<ul>
  <li>Creating Exchange Contracts is now slightly streamlined. Adding and removing types offered and received clears the data in the form, however.</li>
</ul>

<h2>v1.01<small> 5/18/12</small></h2>
<ul>
  <li>Added changelog.</li>
  <li>When creating a Recall Contract, the quantity field is now automatically initially set to the maximum quantity that can be recalled. You can still change the value in the field.</li>
</ul>

<h2>v1.00<small> 5/12/12</small></h2>
<ul>
  <li>Initial release.</li>
</ul>

{% endblock %}