{% extends "base.html" %}

{% block title %}ballroom.gilgi.org - changelog{% endblock %}

{% block content %}

<h1>Changelog</h1>

<h2>Proposed Changes</h2>
<ul>
  <li>The Exchange Contract creation process will be streamlined so that the form data is not cleared when the number of types offered or received is changed.</li>
  <li>The ability to make Exchange Contracts repeat a set number of times will be added.</li>
</ul>

<h2>v0.01<small> 5/12/12</small></h2>
<ul>
  <li>Initial release.</li>
</ul>

{% endblock %}